<div class="container">
    <div class="row">
        <div class="col col-md-offset-2 col-md-8">
            <h1>Contact List</h1>
            <a class="btn btn-primary" routerLink="add" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th scope="col" class="text-center" sortable="firstName" (sort)="onSort($event)">First Name</th>
                    <th scope="col" class="text-center" sortable="lastName" (sort)="onSort($event)">Last Name</th>
                    <th scope="col" class="text-center" sortable="age" (sort)="onSort($event)">Age</th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center"></th>
                </tr>

                <!-- Repeatable Template Row -->
                    <tr *ngFor="let contact of contacts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td class="text-center">{{contact.firstName }}</td>
                        <td class="text-center">{{contact.lastName }}</td>
                        <td class="text-center">{{contact.age }}</td>

                        <td class="text-center">
                          <a routerLink="edit/{{contact._id }}"
                            class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>

                        <td class="text-center">
                          <a routerLink="delete/{{ contact._id}}" (click)="onDeleteClick()"
                              class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>

            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="3" selected>3 Items per page</option>
                <option [ngValue]="5">5 Items per page</option>
                <option [ngValue]="10">10 Items per page</option>
                <option [ngValue]="1000">Display All items</option>
              </select>
            </div>
            <hr>
        </div>
    </div>
</div>


